
/* Modal nền mờ */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 40, 40, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Khi mở */
.modal.active {
    display: flex;
}

/* Khung modal */
.modal_inner {
    width: 400px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    animation: showModal 0.3s ease;
}

.modal_header {
    padding: 10px;
    background: #948858;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_body {
    padding: 20px;
}

.modal_footer {
    padding: 10px;
    text-align: right;
}
@keyframes showModal {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Khung chứa form */
.input_infor {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Label */
.input_infor label {
    font-weight: bold;
    font-size: 14px;
}

/* Input text & password */
.input_infor input[type="text"],
.input_infor input[type="password"],
.input_infor input[type="file"] {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
}

.input_infor input:focus {
    outline: none;
    border: 2px solid #123dd8;
}

.close {
    font-size: 20px;
    color: #1e1d3f;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.acp-btn,
.close-btn {
    font-size: 15px;
    border-radius: 8px;
    padding: 8px 15px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.acp-btn {
    background-color: #49465e;
    color: #f2f2ef;
}

.acp-btn:hover {
    background-color: #36344a;
}

.close-btn {
    background-color: #dc3545;
    color: #f2f2ef;
}

.close-btn:hover {
    background-color: #c82333;
}

.sub_modal {
    font-size: x-small;
    text-align: right;
    margin: 20px 20px 0px;
    color: #393422;
}