.main_container {
    width: 100%;
    height: 100%;

    background-color: red;
}
.container_xacnhanthanhtoan {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 70vh;
    display: flex;
    padding-bottom: 12px;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 9999999;
}

.container_xacnhanthanhtoan.active {
    opacity: 1;
    visibility: visible;
}

.container_xacnhanthanhtoan.active .modal_xacnhanthanhtoan {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.modal_xacnhanthanhtoan {
    width: 300px;
    height: 150px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: Arial, sans-serif;

    transform: scale(0.9);
    transition: 0.3s;
}

.modal_xacnhanthanhtoan h1 {
    font-size: 20px;
    margin-bottom: 12px;
    text-align: center;
}

.div_button_xacnhanthanhtoan {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 12px;
}

.div_button_xacnhanthanhtoan button {
    padding: 8px 16px;
    margin-top: 6px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.div_button_xacnhanthanhtoan button:first-child {
    background-color: #e0e0e0;
}

.div_button_xacnhanthanhtoan button:last-child {
    background-color: #4caf50;
    color: white;
}

.div_button_xacnhanthanhtoan button:hover {
    opacity: 0.8;
}

h1 {
    font-family: "Arial", sans-serif;
    font-size: 16px;
}
