.hover-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
        transition: all 0.3s ease;
    }

.hover-card:hover img {
    transform: scale(1.1);
}

.input-group {
    width: 350px;
    margin-bottom: 15px;
    padding: 1.5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #08315e;
    border-color: #378ae2;
}

.ps-5 {
    padding-left: 3rem !important;
    background-color: #f8f9fa; 
    font-size: 0.95em;
}

[aria-expanded="true"] .fa-chevron-down {
    transform: rotate(180deg);
    transition: 0.3s;
}

#submenuTaiChinh {
    transition: all 0.3s ease;
}

