.table th, .table td { 
    border: 1px solid #ddd; 
    padding: 12px; 
    text-align: left; 
}
.table th { 
    background-color: #f4f4f4; 
}

.form-control[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.modal-content {
    border: none;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #f1f1f1;
}

.modal-title{
    color: rgb(8, 57, 149);
    font-weight: bold;
    margin: 0 auto !important;
    font-size: 1.25rem;
}

.modal-header  .btn-close {
    position: absolute;
    right: 1rem;
    margin: 0;
}

#formTraXe label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: inline-block;
}
