* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 40px;
}

/* Nút mở modal */
.open-modal-btn {
    padding: 10px 20px;
    cursor: pointer;
}

/* Modal nền mờ */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 40, 40, 0.5);

    display: none;
    /* Ẩn ban đầu */
    justify-content: center;
    align-items: center;
}

/* Khi modal mở */
.modal.active {
    display: flex;
}

/* Khung modal */
.modal_inner {
    width: 400px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    animation: showModal 0.3s ease;
}

/* Header */
.modal_header {
    padding: 10px;
    background: #393422;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Body */
.modal_body {
    padding: 20px;
}

/* Footer */
.modal_footer {
    padding: 10px;
    text-align: right;
}



/* Animation */
@keyframes showModal {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Khung chứa form */
.input_infor {
    display: flex;
    flex-direction: column;
    /* xếp dọc */
    gap: 8px;
    /* khoảng cách giữa các dòng */
}

/* Label */
.input_infor label {
    font-weight: bold;
    font-size: 14px;
}

/* Input text */
.input_infor input[type="text"],
.input_infor input[type="file"] {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
}

/* Khi focus vào input */
.input_infor input:focus {
    outline: none;
    border: 2px, solid, #123dd8;
    transform: scale(1.06);
}

.close,
.close-btn,
.acp-btn {
    cursor: pointer;
}

.acp-btn,
.close-btn {
    font-size: 15px;
    height: fit-content;
    border-radius: 8px;
    padding: 5px;
    margin-right: 15px;
    border: 1px, solid;
}

.acp-btn {
    background-color: #49465e;
    color: #f2f2ef;
}

.close-btn {
    background-color: red;
    color: #f2f2ef;
}
.sub_modal{
    font-size: x-small;
    text-align: right;
    margin: 20px 20px 0px;
    color: #393422;
}