* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    margin: 40px auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input,textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
}

/* label chung */
.radio-group label {
    display: inline-flex;      /* giữ trên 1 dòng */
    align-items: center;
    gap: 6px;
    font-weight: normal;
    margin-top: 0;
    cursor: pointer;
}

.radio-group input[type="radio"] {
    margin: 0;
    width: auto;             
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

/* ===== Preview  ===== */
#preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.preview-item {
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.preview-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ===== Nút xóa ảnh ===== */
.remove-btn {
    position: absolute;
    top: 0;
    right: 0;

    transform: translate(5%, -80%); /* đẩy nút ra góc ngoài */
    
    width: 18px;
    height: 18px;

    background: rgba(255, 0, 0, 0.95);
    color: white;

    border: none;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
}


