#box {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background: #2b2420;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #2b2d2f;
}

.back-login {
  text-align: center;
  margin-top: 15px;
}

.back-login a {
  color: #526688;
  text-decoration: none;
}

.hidden {
  display: none;
}

.error {
  color: red;
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
}
.boxcapcha {
  display: flex;
  justify-content: center;
}
