* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background:  linear-gradient(rgba(45, 44, 44, 0.7),rgba(30, 30, 30, 0.7)),url('https://images.unsplash.com/photo-1497215728101-856f4ea42174?auto=format&fit=crop&w=1350&q=80')
        no-repeat center center fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    width: 350px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    backdrop-filter: blur(6px);

    color: #fff;
    text-align: center;

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

#box h2 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: normal;
}

#box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;

    background: transparent;
    border: 1px solid #ccc;
    border-radius: 6px;

    color: #fff;
    font-size: 14px;
}

#box input::placeholder {
    color: #ddd;
    font-style: italic;
}

#box input:focus {
    outline: none;
    border-color: #2ecc71;
}

button {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 6px;

    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#btnLogin {
    background: #2ecc71;
    color: #fff;
}

#btnLogin:hover {
    background: #106132;
    scale: 1.2;
}
.register{
    display: block;
    margin-top: 15px;
    font-size: 13px;
    color: #ddd;
}

.register a{
    color: #cc632e;
    text-decoration: none;
    margin-left: 5px;
}

.register a:hover {
    text-decoration: underline;
}

.spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    margin-right: 8px;
    vertical-align: middle;
    animation: spin 0.8s linear infinite;
}
/* load fake */
@keyframes spin {
    to { transform: rotate(360deg); }
}

button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
#msg{
    margin-top: 8px;
    color: #2ecc71;
}