* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}

/* khung */
.personal-container {
    display: flex;
    /* align-items: center; */
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
    padding: 0 20px;
}

/* menu  */
.sidebar {
    width: 250px;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: fit-content;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    padding: 12px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #eee;
}

.menu-item i {
    margin-right: 8px;
}

.menu-item:hover {
    background: #f5f5f5;
    color: #0d6efd;
    border-color: #e0f0ff;
    transform: translateX(5px);
}

.menu-item.active {
    background: #0d6efd;
    color: white; 
}

.content {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}