* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    /* background-color:	rgb(237, 196, 164) ; */
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("https://wallpapers.com/images/hd/pretty-purple-1920-x-1080-background-tcqxrh4icc58kbyb.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box {
    width: 350px;
    padding: 40px;
    background: rgba(87, 87, 87, 0.6);
    border-radius: 15px;

    color: #fff;
    text-align: center;

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

#box h2 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: normal;
}

#box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;

    background: transparent;
    border: 1px solid #ccc;
    border-radius: 6px;

    color: #fff;
    font-size: 14px;
}

#box input::placeholder {
    color: #ddd;
    font-style: italic;
}

#box input:focus {
    outline: none;
    border-color: #2ecc71;
}



.btn {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 5px;

    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

#btnBack {
    width: 40%;
    height: 40px;
    background: #bdc3c7;
    color: #333;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#btnBack:hover {
    background: #9bb4ec;
}


#btnRegister {
    margin-right: 30px;
    background: #2ecc71;
    color: #fff;
}

#btnRegister:hover {
    background: #105a2f;
}

.message {
    margin-top: 3px;
    text-align: center;
    color: rgb(116, 244, 102);
    font-size: 16px;
}


.spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #88d622;
    animation: spin 0.8s linear infinite;
    margin-right: 8px;
    vertical-align: middle;
}
/* load fake */
@keyframes spin {
    to {
        transform: rotate(1080deg);
    }
}

button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}