<div class="modal-overlayTP" id="modalOverlay_policy">
    <style>
        .c6474 {
            padding: 16px 0 16px;
        }

        .c6572 {
            padding: 10px 0;
        }

        .c6688 {
            padding: 10px 0;
        }

        .c6961 {
            padding: 10px 0;
        }

        .c7871 {
            padding: 16px 0 16px;
        }

        .c8044 {
            padding: 16px 0 16px;
        }

        .c7213 {
            padding: 10px 0;
        }

        .c7337 {
            padding: 10px 0;
        }

        .c7412 {
            padding: 10px 0;
        }

        .c7645 {
            padding: 10px 0;
        }

        .c7720 {
            padding: 10px 0;
        }

        .c6749 {
            padding: 10px 0;
        }

        .c6835 {
            padding: 10px 0;
        }

        .c6910 {
            padding: 10px 0;
        }

        .c6985 {
            padding: 10px 0;
        }

        .c7061 {
            padding: 10px 0;
        }

        .c7136 {
            padding: 10px 0;
        }

        .c7211 {
            padding: 16px 0 16px;
        }

        .c7310 {
            padding: 10px 0;
        }

        .c7385 {
            padding: 10px 0;
        }

        .c7460 {
            padding: 10px 0;
        }

        .c7054 {
            padding: 10px 0;
        }

        .c7130 {
            padding: 10px 0;
        }

        .c7205 {
            padding: 10px 0;
        }

        .c7281 {
            padding: 10px 0;
        }

        .c7356 {
            padding: 10px 0;
        }

        .c7431 {
            padding: 10px 0;
        }

        .c7555 {
            padding: 10px 0;
        }

        .c7072 {
            padding: 10px 0;
        }

        .c7159 {
            padding: 10px 0;
        }

        .c7234 {
            padding: 10px 0;
        }

        .c7309 {
            padding: 16px 0 16px;
        }

        .c7361 {
            padding: 10px 0;
        }

        .c7176 {
            padding: 10px 0;
        }

        .c7352 {
            padding: 10px 0;
        }

        .c8028 {
            padding: 10px 0;
        }

        .c8178 {
            padding: 10px 0;
        }

        .c7214 {
            padding: 10px 0;
        }

        .c7233 {
            padding: 10px 0;
        }

        .c7319 {
            padding: 10px 0;
        }

        .c7395 {
            padding: 10px 0;
        }

        .c7470 {
            padding: 10px 0;
        }

        .c7569 {
            padding: 10px 0;
        }

        .c7644 {
            padding: 10px 0;
        }

        .c7719 {
            padding: 10px 0;
        }

        .c7794 {
            padding: 10px 0;
        }

        .c7869 {
            padding: 10px 0;
        }

        .c7944 {
            padding: 10px 0;
        }

        .c8019 {
            padding: 10px 0;
        }

        .c8094 {
            padding: 10px 0;
        }

        .c8169 {
            padding: 10px 0;
        }

        .c8244 {
            padding: 10px 0;
        }

        .c8319 {
            padding: 10px 0;
        }

        .c8394 {
            padding: 10px 0;
        }

        .c8469 {
            padding: 10px 0;
        }

        .c8544 {
            padding: 10px 0;
        }

        .c8619 {
            padding: 10px 0;
        }

        .c8694 {
            padding: 10px 0;
        }

        .c8797 {
            padding: 10px 0;
        }
    </style>
    <div class="container_modalPolicy">
        <span id="closeTermX" class="close-btnX">&times;</span>

        <div class="c6572">
            <h1 class="main_title">Privacy and cookie policy</h1>
        </div>
        <div class="c7213">
            <p>
                Your privacy is important to us. This privacy statement
                explains:
            </p>
            <ol>
                <li>
                    What personal data is collected by the owner of this web
                    site or provided by you, through our interactions with you
                    and your use of our web site, apps and software
                </li>
                <li>
                    How your personal data will be used, where it is held, how
                    long it will be kept and your rights.
                </li>
            </ol>
            <p>Please read this privacy policy carefully.</p>
        </div>
        <div class="c7337">
            <h2>Definitions and interpretation</h2>
        </div>
        <div class="c7412">
            <p>In this privacy, the following definitions are used:<br /></p>
            <p>
                <strong>Data controller</strong>
                means a person who (either alone or jointly or in common with
                other persons) determines the purposes for which and the manner
                in which any personal data are, or are to be, processed.<br />
            </p>
            <p>
                <strong>Data processor</strong>
                , in relation to personal data, means any person (other than an
                employee of the data controller) who processes the data on
                behalf of the data controller.<br />
            </p>
            <p>
                <strong>“You”</strong>
                , <strong>“your”</strong> or
                <strong>“data subject”</strong> means:<br />
            </p>
            <ul>
                <li>Visitors to our website</li>
                <li>Subscribers to any service we offer through our site</li>
                <li>Prospective or existing clients<br /></li>
                <li>Our Partners, Suppliers and Car Owners</li>
            </ul>
            <p>
                <strong>Data controller</strong>
                , <strong>“we”</strong> , <strong>“us”</strong> and
                <strong>“our”</strong> means:<br />
            </p>
            <p>Renot Software OU and its data processors;<br /></p>
            <p>
                <strong>Personal data</strong>
                means any information relating to an identifiable person who can
                be directly or indirectly identified in particular by reference
                to an identifier.<br />
            </p>
            <p>
                This definition provides for a wide range of personal
                identifiers to constitute personal data, including name,
                identification number, location data or online identifier,
                reflecting changes in technology and the way organisations
                collect information about people. The definition incorporates,
                where applicable, the definitions provided in the General Data
                Protection Regulation (EU 2016/679).<br />
            </p>
        </div>
        <div class="c7645">
            <h3>Sensitive personal data</h3>
        </div>
        <div class="c7720">
            <p>
                The GDPR refers to sensitive personal data as “special category
                data”. Please see “Special category data”.
            </p>
        </div>
        <div class="c7645">
            <h3>Special category data</h3>
        </div>
        <div class="c7720">
            <p>
                Means personal data consisting of information as to the racial
                or ethnic origin of the data subject, his political opinions,
                his religious beliefs or other beliefs of a similar nature,
                whether he is a member of a trade union, his physical or mental
                health or condition, his sexual life. The special category
                specifically includes genetic data, and biometric data where
                processed to uniquely identify an individual.
            </p>
        </div>
        <div class="c7645">
            <h3>Criminal offence data</h3>
        </div>
        <div class="c7720">
            <p>Personal data relating to criminal convictions and offences.</p>
        </div>
        <div class="c7645">
            <h3>Who we are (identity of the data controller)</h3>
        </div>
        <div class="c7720">
            <p>
                For the purpose of the General Data Protection Regulation the
                data controller is Renot Software OU with company registration
                number 12352497 and the registered address at Kadaka tee 137-65,
                Mustamäe district, Tallinn city, Harju county, 12915 Estonia.
            </p>
        </div>
        <div class="c6749">
            <h2>Personal data we may collect from you</h2>
        </div>
        <div class="c6835">
            <p>
                <strong>
                    We may collect and process the following data and personal
                    information about<br />you:
                </strong>
                <br />
            </p>
        </div>
        <div class="c6910">
            <h3>Personal data you provide us voluntarily<br /></h3>
        </div>
        <div class="c6985">
            <p>
                We collect the information provided by you to operate
                effectively and provide you the best experiences with our
                Website, products and services. You provide some of this
                information voluntarily by filling in the contact forms on our
                web site, creating an account at our Website or by corresponding
                with us by phone, e-mail or otherwise. This includes information
                you provide if you subscribe to any service we offer through our
                site, send us a query or feedback, sign up for information on
                events, upload a document with your enquiry, make a booking on
                our site, purchase goods via the Website, participate in
                discussion boards or other social media functions on our site,
                promotion or survey, contact us via chat or messenger, provide
                your postcode to help us to find our nearest branch to your
                location, or when you report a problem with our Website.<br />
            </p>
            <p>
                The information you may give us is Personally Identifiable
                Information (“PII”). When we refer to “PII” in this policy we
                mean information that identifies an individual or may with
                reasonable efforts cause the identification of an individual)
                may include your:<br />
            </p>
            <p>
                First name, Surname, address, e-mail address and phone number,
                your postcode or location, company name, pickup and return date
                and time, desired vehicle class and model, travel destination,
                lifestyle and social circumstances;<br />
            </p>
        </div>
        <div class="c7061">
            <h3>Special category data</h3>
        </div>
        <div class="c7136">
            <p>
                By the nature of our business and the purposes of processing the
                data, the services hereunder are not intended for large scale
                processing of special category data (please check the paragraph
                Definitions and interpretation). We do not process special
                category data on a regular basis and in if your request contains
                information about special needs related to a disability, we will
                obtain your consent to process special category data during our
                later communication regarding your request. If this is not
                possible, or your sensitive personal data is not necessary for
                you to enter into a business relationship (oral or written
                contract) with us, we will destroy it and erase any copy in our
                possession.
            </p>
        </div>
        <div class="c7211">
            <h3>Children</h3>
        </div>
        <div class="c7310">
            <p>
                We do not sell any products or services for purchase by
                children. If you are under 16, you may use our Website only with
                the involvement of your holder of parental responsibility. We do
                not knowingly collect personal information from children below
                16 without the consent of the child's holder of parental
                responsibility.<br />
            </p>
        </div>
        <div class="c7385">
            <h3>Information you provide about others</h3>
        </div>
        <div class="c7460">
            <p>
                In providing personal data about other individuals (such as
                someone in whose name you are registering an account or
                subscribing to our marketing promotions), you represent that you
                have notified them of (i) the purposes for which information
                will be used (ii) the recipients of their personal data and
                (iii) how they can access and correct the information. You
                further represent that You have obtained all necessary consents
                from them.<br />
            </p>
        </div>
        <div class="c7054">
            <h2>
                Information which may be made available to us, or collected
                automatically with the use of cookies or analytic tools
            </h2>
        </div>
        <div class="c7130">
            <p>
                We might get some information from our visitors by recording how
                they interact with our Website with the use of cookies,
                analytics tools or obtain data from third parties.<br />
            </p>
        </div>
        <div class="c7205">
            <h3>
                Technical information, including personally identifiable
                information:
            </h3>
        </div>
        <div class="c7281">
            <ul>
                <li>
                    Might include your device and connectivity information such
                    as IP (Internet Protocol) address, unique device identifiers
                    (such as the IMEI for phones)<br />
                </li>
            </ul>
        </div>
        <div class="c7356">
            <h3>Non-personally identifiable information:</h3>
        </div>
        <div class="c7431">
            <ul>
                <li>
                    Might include your configuration data such as browser type,
                    version and language setting, time zone setting, browser
                    plug-in types and versions<br />
                </li>
                <li>
                    Details of how you used our Website, such as your search
                    queries. Information about your visit, including the full
                    Uniform Resource Locators (URL) clickstream to, through and
                    from our site (including date and time); products you viewed
                    or searched for; page response times, length of visits to
                    certain pages, page interaction information (such as
                    scrolling, clicks, and mouse-overs), and methods used to
                    browse away from the page:<br />
                </li>
                <li>
                    Log information, such as error reports, download errors, any
                    problems you experience using our web site and any phone
                    number used to call our customer service number.
                </li>
            </ul>
            <p>
                We do not combine information collected automatically through
                cookies and analytics tools with other personally identifiable
                information you may have provided to us when you registered for
                our Products or submitted a form through our Website.<br />
            </p>
        </div>
        <div class="c7555">
            <h2>Cookie policy</h2>
        </div>
        <div class="c7072">
            <p>
                We use cookies, web beacons and other technologies to
                automatically collect certain types of information when you use
                our services, as well as through emails that we may exchange.
                The collection of this information allows us to customize your
                online experience; improve the performance, usability and
                effectiveness of our service; advertise and market our services;
                measure the effectiveness of our marketing activities; and
                generate and analyze statistics about your use of our Services.
            </p>
            <p>
                A cookie is a small file, typically of letters and numbers,
                downloaded on to a device when the user accesses certain
                websites. Cookies allow a website to recognise a user’s device.
            </p>
            <p>
                We might use cookies to recognize you when you visit our site or
                use our Services, remember your preferences, and give you a
                personalized experience:
            </p>
            <ul>
                <li>
                    AUTHENTIFICATION COOKIES. If you're signed in to our
                    Services, these cookies will help us show you the right
                    information and personalize your experience.
                </li>
                <li>
                    SESSION COOKIES. These cookies store the ID of a user’s
                    session. The cookie is set when a user signs in and is used
                    to restore the session without entering the personal data.
                </li>
                <li>
                    SECURITY COOKIES. We use cookies for our security features,
                    and to help us detect malicious activity.
                </li>
                <li>
                    PREFERENCE, FEATURES AND SERVICES. These cookies help us to
                    customise your preferences, such as which language you
                    prefer and what your communications preferences are or to
                    fill out forms on our faster.
                </li>
                <li>
                    PERFORMANCE, ANALYTICS AND RESEARCH. These cookies help us
                    to analyse our web site performance. We use cookies to
                    improve our products, features, and services, including to
                    create logs and record when you access our site.
                </li>
                <li>
                    THIRD-PARTY COOKIES. We might use them for website analytics
                    and advertising purposes, i.e. cookies which are set and can
                    be accessed by servers respectively domains of our
                    third-party providers.
                </li>
            </ul>
            <p>
                We are using Google analytics cookies on this website which
                might register a unique ID that is used to generate statistical
                data on how the visitor uses the website, and cookies sending
                data to Google Analytics about the visitor's device and
                behaviour which track the visitor across devices and marketing
                channels.
            </p>
        </div>
        <div class="c7159">
            <h2>Web beacons<br /></h2>
        </div>
        <div class="c7234">
            <p>
                Web beacons consist of a small string of software code that
                represents a graphic image request on a page or email. There may
                or may not be a visible graphic image associated with the web
                beacon and often the image is designed to blend into the
                background of a page or email. Web beacons can be used for many
                purposes - including website traffic reporting, unique visitor
                counts, advertising auditing and reporting, and
                personalization.<br />
            </p>
            <p>
                We use the following session, permanent and third-party
                marketing cookies and tracking technologies, including cookies
                from our partners and service providers:<br />
            </p>
        </div>
        <div class="c7361">
            <table
                border="1"
                cellspacing="0"
                cellpadding="5"
                align="left"
                style="float: none; width: 100%"
            >
                <tbody>
                    <tr>
                        <td>
                            <strong>Name</strong>
                        </td>
                        <td>
                            <strong>Provider</strong>
                        </td>
                        <td>
                            <strong>Expire</strong>
                        </td>
                        <td>
                            <strong>Purpose</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>CookieConsent</td>
                        <td>localrent.com</td>
                        <td>1 year</td>
                        <td>
                            Stores the user's cookie consent state for the
                            current domain
                        </td>
                    </tr>
                    <tr>
                        <td>PHPSESSID</td>
                        <td>localrent.com</td>
                        <td>Session</td>
                        <td>
                            Preserves user session state across page requests.
                        </td>
                    </tr>
                    <tr>
                        <td>collect</td>
                        <td>google-analytics.com</td>
                        <td>Session</td>
                        <td>
                            Used to send data to Google Analytics about the
                            visitor's device and behaviour. Tracks the visitor
                            across devices and marketing channels.
                        </td>
                    </tr>
                    <tr>
                        <td>_ym_isad</td>
                        <td>localrent.com</td>
                        <td>Session</td>
                        <td>
                            This cookie is used to determine if the visitor has
                            any adblocker software in their browser – this
                            information can be used to make website content
                            inaccessible to<br />visitors if the website is
                            financed with third-party advertisement.
                        </td>
                    </tr>
                    <tr>
                        <td>_ym_uid</td>
                        <td>localrent.com</td>
                        <td>1 year</td>
                        <td>
                            <p>
                                This cookie is used to collect non-personal
                                information on the visitor's website behavior
                                and non-personal visitor statistics.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            _csrf<span
                                data-cke-bookmark="1"
                                style="display: none"
                                >&nbsp;</span
                            >
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                        </td>
                        <td>
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                            heapanalytics.com
                        </td>
                        <td>
                            Session<span
                                data-cke-bookmark="1"
                                style="display: none"
                                >&nbsp;</span
                            >
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                        </td>
                        <td>Marketing cookie</td>
                    </tr>
                    <tr>
                        <td>_ym_metrika_enabled</td>
                        <td>
                            <span data-cke-bookmark="1" style="display: none"
                                >&nbsp;</span
                            >
                            localrent.com
                        </td>
                        <td>Session</td>
                        <td>
                            This cookie is used to collect data on the visitor's
                            behavior on the website - this information can be
                            used to assign the visitor to a visitor segment,
                            based on common preferences.
                        </td>
                    </tr>
                    <tr>
                        <td>i</td>
                        <td>yandex.com</td>
                        <td>1 year</td>
                        <td>Marketing cookie</td>
                    </tr>
                    <tr>
                        <td>webvisor/14965885</td>
                        <td>yandex.com</td>
                        <td>Session</td>
                        <td>Marketing cookie</td>
                    </tr>
                    <tr>
                        <td>yabs-sid</td>
                        <td>yandex.com</td>
                        <td>Session</td>
                        <td>Marketing cookie</td>
                    </tr>
                    <tr>
                        <td>yandexuid</td>
                        <td>yandex.com</td>
                        <td>1 year</td>
                        <td>Marketing cookie</td>
                    </tr>
                    <tr>
                        <td>yp</td>
                        <td>yandex.com</td>
                        <td>10 years</td>
                        <td>Marketing cookie</td>
                    </tr>
                    <tr>
                        <td>_ym_d</td>
                        <td>localrent.com</td>
                        <td>1 year</td>
                        <td>Marketing cookie</td>
                    </tr>
                    <tr>
                        <td>_ym_metrika_enabled_14965885</td>
                        <td>localrent.com</td>
                        <td>Session</td>
                        <td>Marketing cookie</td>
                    </tr>
                    <tr>
                        <td>_ym_retryReqs</td>
                        <td>localrent.com</td>
                        <td>Persistent</td>
                        <td>Marketing cookie</td>
                    </tr>
                    <tr>
                        <td>_ym_visorc_14965885</td>
                        <td>localrent.com</td>
                        <td>Session</td>
                        <td>Marketing cookie</td>
                    </tr>
                    <tr>
                        <td>_ym14965885_lastHit</td>
                        <td>localrent.com</td>
                        <td>Persistent</td>
                        <td>Marketing cookie</td>
                    </tr>
                    <tr>
                        <td>_ym14965885_lsid</td>
                        <td>localrent.com</td>
                        <td>Persistent</td>
                        <td>Marketing cookie</td>
                    </tr>
                    <tr>
                        <td>_ym14965885_reqNum</td>
                        <td>localrent.com</td>
                        <td>Persistent</td>
                        <td>Marketing cookie</td>
                    </tr>
                    <tr>
                        <td>metrika_enabled</td>
                        <td>localrent.com</td>
                        <td>Session</td>
                        <td>Marketing cookie</td>
                    </tr>
                    <tr>
                        <td>shdata</td>
                        <td>localrent.com</td>
                        <td>Session</td>
                        <td>Marketing cookie</td>
                    </tr>
                </tbody>
            </table>
            <p>
                <br />
            </p>
        </div>
        <div class="c8178">
            <h3>
                What can you do if you don't want cookies and analytics to be
                set or want them to be removed
            </h3>
        </div>
        <div class="c7214">
            <p>
                Most browsers accept cookies automatically, however some people
                prefer not to allow cookies. You may change the security
                settings of your web browser in order to stop your device
                receiving and storing cookies, to allow receiving and storing
                cookies from selected websites you trust, or to be notified
                before receiving cookies. You may also delete cookies stored in
                your browser at any time. Information stored in such cookies
                will be removed from your device. However, that these settings
                may have negative effects on the web sites usability.
            </p>
            <p>
                Browser manufacturers usually provide help pages relating to
                cookie management in their products. Please see below for more
                information:
            </p>

            <p>
                For other browsers, please consult the documentation that your
                browser manufacturer provides.
            </p>
            <p>
                You may opt-out of third party cookies from Google Analytics on
                its website.
            </p>
        </div>
        <div class="c7233">
            <h2>Social Media features and widgets</h2>
        </div>
        <div class="c7319">
            <p>
                Our Website might include certain Social Media features and
                widgets, such as “Facebook Pixel”. These Social Media Features
                may collect information such as your IP address or which page
                you are visiting on our Website, and may set a cookie to enable
                them to function properly. Social Media Features are either
                hosted by a third party or hosted directly on our Website.
                Please be aware that if you choose to interact or share any
                Personal Information via such widgets, you are in fact providing
                it to these third parties and not to us. Your interactions with
                these third parties are managed by these Social Media policies
                and not ours. For example, you will not be able to use the
                “Facebook Like” button if you are not logged in to your Facebook
                account. Once you use the button this will be associated with
                your Facebook history, but we will not process this
                information.<br />
            </p>
        </div>
        <div class="c7395">
            <h2>Information we might obtain from third parties<br /></h2>
        </div>
        <div class="c7470">
            <p>
                We might obtain some non-personally identifiable information
                from third parties. We protect data obtained from third parties
                according to the practices described in this statement, plus any
                additional restrictions imposed by the source of data.<br />
            </p>
            <p>
                We might insert advertising on our partner websites, social
                networks or Advertising networks who might categorize website
                visitors with similar characteristics or interests into
                non-personally identifiable data segments and offer these
                segments to their own clients, visitors and subscribers. For
                example, if a person expresses an interest in cryptocurrency or
                beauty products, they might see an advertising banner linking to
                similar service provider company web site.<br />
            </p>
            <p>
                We might obtain and record information that an ad was requested
                or shown, how many times, the target geography of the ad (which
                will not include an IP address or specific personally
                identifiable location and any user interactions with the ad or
                the page where the ad appears. This information is used for
                analysis, reporting and troubleshooting.<br />
            </p>
            <p>We do not perform any visitors profiling activities.<br /></p>
        </div>
        <div class="c7569">
            <h2>Where do we store your information?</h2>
        </div>
        <div class="c7644">
            <p>
                We take Client confidentiality and security very seriously. We
                are committed to protecting the Personal Data you share with us.
                We use a combination of industry-standard security technologies,
                procedures, and organizational measures to help protect your
                Personal Data from unauthorized access, use or disclosure.<br />
            </p>
            <p>
                The data processing consisting in hosting provider services
                (storage and maintenance of databases containing your personal
                data, protected by password) is performed on our behalf and
                under written confidentiality agreements inside European Union
                area by our authorized data processor Hetzner Online GmbH - an
                Internet hosting company and data center operator based in
                Gunzenhausen, Germany.<br />
            </p>
            <p>
                We also may keep some of your data at Amazon Web Services, Inc.
                ('AWS'). Amazon Web Services, Inc. ('AWS') is part of a global
                organisation with local operating companies in a number of
                countries worldwide. All information is stored on Amazon Web
                Services datacentres in Ireland.
            </p>
        </div>
        <div class="c7719">
            <h2>
                Trusted partners (data processors) who work on our behalf under
                confidentiality agreements and might store, maintain or process
                your data<br />
            </h2>
        </div>
        <div class="c7794">
            <p>
                We have partnered with a number of authorized service providers
                (data processors), whose services and solutions complement,
                facilitate and enhance our own under written confidentiality
                agreements that guarantees that the requirements of the GDPR
                will be met and the rights of data subjects are protected. Data
                processors only act on behalf of our documented instructions.
                They have direct responsibilities under the GDPR and may be
                subject to fines or other sanctions if they don’t comply.<br />
            </p>
            <p>
                These might include communications and content delivery networks
                (CDNs), ticketing systems, online chat providers, web analytics,
                e-mail distribution and monitoring services, advertising
                networks, feedback analytics systems and our legal and financial
                advisors.<br />
            </p>
            <p>
                Such data processors may receive or otherwise have access to
                your identifiable or non-identifiable personal data, in its
                entirety or in part – depending on each of their particular
                roles and purposes in facilitating and enhancing our Services
                and business, and may only use it for such purposes. Under no
                circumstances may data processors will use the data for their
                own purposes.<br />
            </p>
            <p>
                The written agreements with the data processor guarantees that
                the requirements of the GDPR will be met and the rights of data
                subjects are protected. The data processor will only act on
                behalf of our documented instructions, have direct
                responsibilities under the GDPR and may be subject to fines or
                other sanctions if they don’t comply.<br />
            </p>
            <p>
                Once this contract is concluded, data processor will return data
                to us or transmit to another processor appointed by us, and
                erase any copy in its possession. However, the processor may
                keep the data locked to address possible administrative or
                jurisdictional responsibilities.<br />
            </p>
            <p>
                Your personal data might be maintained, stored and processed at
                a destination inside the European Economic Area. The data
                processors include companies such as:<br />
            </p>
            <ul>
                <li>MailChimp, OmniDesk, Chatra and others;<br /></li>
                <li>
                    Once the data processing contracts are concluded, data
                    processors will return data to us or transmit to another
                    processor appointed by us, and erase any copy in its
                    possession. However, the processors may keep the data locked
                    to address possible administrative or jurisdictional
                    responsibilities.
                </li>
            </ul>
        </div>
        <div class="c7869">
            <h2>Data retention<br /></h2>
        </div>
        <div class="c7944">
            <p>
                Unless otherwise specified, where you have indicated to us that
                you are happy for us to send you the information about goods and
                services we offer and we feel may interest you or similar to
                those that you have already purchased or enquired about do so,
                we assume you are happy for us to keep your collected personal
                data. We may retain your<br />
                Personal Information (contact details) for as long as your User
                Account is active or as otherwise needed to provide you with
                information about our Services. As the data subject you have
                rights related to processing of your personal data and the
                option of withdrawing your consent to receive promotions at any
                time. Please see paragraph “Your rights”.<br />
            </p>
            <p>
                If you and us enter in a contract, we might keep your data
                during the performance of the contract and as long as it is
                necessary as for our legitimate interests. Please see paragraph
                “Lawful basis and the purposes of the processing (Uses made of
                your personal information).<br />
            </p>
        </div>
        <div class="c8019">
            <h2>Lawful basis and the uses made of your personal information</h2>
        </div>
        <div class="c8094">
            <p>
                We process all personal data lawfully, fairly and in a
                transparent manner. We use the data we collect for the following
                basic purposes, described in more detail below:
            </p>
            <ol>
                <li>
                    To take steps at the request of the data subject prior to
                    entering into a business relationship (oral or written
                    contract):
                    <ol>
                        <li>
                            By contacting us by means specified in paragraph
                            “Personal Data you provide us voluntarily”, we
                            assume that processing is necessary for the
                            performance of a business relationship (oral or
                            written contract) or in order to take steps prior to
                            entering into a business relationship (oral or
                            written contract), and therefore the lawful basis is
                            Contract and our Legitimate interests.
                        </li>
                        <li>
                            We will use the provided information to operate
                            effectively and do our best to respond to your
                            enquiry. Once you enter into a business relationship
                            (oral or written contract) with us, we will invoice
                            our services consisting in car renting and offer you
                            post-sales service and loyalty if required
                        </li>
                    </ol>
                </li>
                <li>
                    We might hold your information for as long as is necessary
                    to comply with our and legal obligations and in accordance
                    with our legitimate interests as a data controller after the
                    contractual relationship between you and us elapses. The
                    lawful basis for such retention is Legitimate interests and
                    Legal obligation. As the data subject you have rights
                    related to maintenance, storage and processing of your
                    personal data. Please see paragraph “Your rights”.
                </li>
                <li>
                    To send you communications, including promotional
                    communications and advertising with your explicit consent or
                    allow you to participate in interactive features of our
                    service, when you choose to do so. The lawful basis for such
                    processing is Consent.
                    <ol>
                        <li>
                            If you wish not to receive such promotional e-mails,
                            you may withdraw your consent at any time by
                            contacting us as described in paragraph “Your
                            rights” or follow the “unsubscribe” or instructions
                            contained in the promotional communications you
                            receive.
                        </li>
                    </ol>
                </li>
                <li>
                    Website improvement We might use your automatically
                    collected data such as IP address and browser data for our
                    Website improvement, such as:
                    <ol>
                        <li>
                            To administer our site and for internal operations,
                            including data security, troubleshooting, testing,
                            statistical and survey purposes;
                        </li>
                        <li>
                            To ensure that content from our site is presented in
                            the most effective manner for you and for your
                            device. The lawful basis for such processing is
                            Legitimate interests.
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
        <div class="c8169">
            <h2>Disclosure of information to third parties</h2>
        </div>
        <div class="c8244">
            <p>
                We do not rent, sell, or share personal information about you
                with other people or non-affiliated companies without your
                consent except to provide products or services you've requested,
                when we have your permission, or under the following
                circumstances:<br />
            </p>
            <ol>
                <li>
                    We provide the information to trusted partners who provide
                    us services under confidentiality agreements, specified in
                    Paragraph “Trusted partners (data processors) who work on
                    our behalf under confidentiality agreements and might store,
                    maintain or process your data. These companies do not have
                    any independent right to share this information.<br />
                </li>
                <li>
                    We might share your aggregated statistical non-personally
                    identifiable data with our partners as described in the
                    section Cookie policy, with companies such as SkyScanner,
                    Admitad and TravelPayouts.<br />
                </li>
                <li>
                    We may disclose your information to third parties when we
                    reasonably believe we are obligated to do so by law, and in
                    order to investigate, prevent, or take action regarding
                    suspected or actual prohibited activities, including but not
                    limited to, fraud and situations involving potential threats
                    to the physical safety of any person.<br />
                </li>
                <li>
                    In the event we are acquired by or merged with a third party
                    entity or undergo another change of control, we reserve the
                    right to transfer information, including any PII and
                    non-PII, to a successor entity. In this event, we will
                    notify you by electronic means before information about you
                    is transferred and becomes subject to a different privacy
                    policy.
                </li>
            </ol>
        </div>
        <div class="c8319">
            <h2>International transfers</h2>
        </div>
        <div class="c8394">
            <p>
                We store your personal data within the European Economic Area
                (EEA). However, in certain circumstances your personal data may
                be transferred to and processed in countries outside the EEA
                (“third countries”).
            </p>
            <p>
                Where such transfers occur, we ensure that adequate safeguards
                are in place to protect your personal data in accordance with
                applicable data protection laws. These safeguards may include
                the use of Standard Contractual Clauses approved by the European
                Commission or other lawful transfer mechanisms.
            </p>
            <p>
                By submitting your data, you provide your informed and explicit
                consent to such transfers and processing for the purposes
                specified in paragraph “LAWFUL BASIS AND THE USES MADE OF YOUR
                PERSONAL INFORMATION”, by our employees, Data Processors and
                subcontractors specified in paragraph “TRUSTED PARTNERS (DATA
                PROCESSORS) WHO WORK ON OUR BEHALF UNDER CONFIDENTIALITY
                AGREEMENTS AND MIGHT STORE, MAINTAIN OR PROCESS YOUR DATA”.
            </p>
        </div>
        <div class="c8469">
            <h2>Security measures</h2>
        </div>
        <div class="c8544">
            <p>
                We use a combination of industry-standard security technologies,
                procedures, and organizational measures to help protect your
                Personal Data from unauthorized access, use or disclosure which
                includes personnel awareness and training policies,
                administrative, physical and technical safeguards, regular
                testing of effectiveness, internal inspections of compliance,
                network security, risk management, monitoring, vulnerability
                management, security for workstations and mobile equipment and
                more.<br />
            </p>
        </div>
        <div class="c8619">
            <h2>YOUR RIGHTS<br /></h2>
        </div>
        <div class="c8694">
            <p>
                You have the following rights in accordance with the General
                Data Protection Regulation<br />
            </p>
            <ol>
                <li>
                    THE RIGHT TO BE INFORMED. In this privacy statement we
                    supply you detailed information related to your personal
                    data storage, maintenance and processing.<br />
                </li>
                <li>THE RIGHT TO ACCESS INFORMATION HELD ABOUT YOU.<br /></li>
                <li>
                    THE RIGHT TO RECTIFY YOUR PERSONAL DATA if it is inaccurate,
                    incomplete or out-of-date.<br />
                </li>
                <li>
                    THE RIGHT TO ERASURE (DELETE OR REMOVE) YOUR PERSONAL
                    DATA.<br />
                </li>
                <li>
                    THE RIGHT TO RESTRICT (BLOCK) PROCESSING. When processing is
                    restricted, we will store your personal data, but not
                    further process it.<br />
                </li>
                <li>
                    THE RIGHT TO DATA PORTABILITY is your right to receive the
                    personal data which you have given to us, in a structured,
                    commonly used and machine-readable format and the right to
                    transmit that data to another controller from the current
                    controller applicable &nbsp;if: The processing is based on
                    consent or on a contract, and the processing is carried out
                    by automated means.<br />
                </li>
                <li>
                    RIGHTS RELATED TO AUTOMATED DECISION MAKING INCLUDING
                    PROFILING.<br />
                </li>
                <li>
                    THE RIGHT TO WITHDRAW YOUR CONSENT OR OBJECT TO DIRECT
                    MARKETING AND OTHER TYPES OF PROCESSING IF APPLICABLE.<br />
                </li>
            </ol>
            <p>
                You can exercise your rights by contacting us at
                <a
                    data-cke-saved-href="mailto:nguyen12112005@gmail.com"
                    href="mailto:nguyen12112005@gmail.com"
                    >nguyen12112005@gmail.com</a
                >
                .<br />
            </p>
        </div>
        <div class="c8797">
            <h3>The right to lodge a complaint with a supervisory authority</h3>
        </div>
        <div class="c8797">
            <p>
                You have The right to lodge a complaint with a supervisory
                authority if you have a concern about our information rights
                practices.<br />
            </p>
        </div>

        <div class="btn_term_container">
            <button class="btn_term" id="btn_term">Got it</button>
        </div>
    </div>
</div>
