<link rel="stylesheet" href="/web_project/View/CSS/nguyen_css_nguoithue.css" />

<div class="part_overlay_quanly">
    <div class="container_table_quanly">
        <div class="mini-header">Người đang thuê xe của bạn</div>

        <div class="content_container_quanly">
            <div class="content" id="content"></div>

            <div id="emptyState" class="empty-state">Chưa có ai thuê xe</div>
        </div>
    </div>
</div>

<script src="/web_project/View/JS/nguyen_js_nguoithue.js"></script>
