<div class="modal-overlayTP" id="modalOverlay_term">
    <div class="container_modalTerm">
        <span id="closeTermX" class="close-btnX">&times;</span>
        <h1 class="main_title">Car rental in Europe, Asia and Africa</h1>
        <hr />
        <ol start="1">
            <li>
                The minimum chargeable rental period is 24 hours. It means that
                if you rent a car for a few hours, you will be charged for a
                full day. For example, if you need a car from Monday morning to
                Tuesday afternoon, you will be charged for two full days.
            </li>
            <li>
                If you want to extend your rental period, you must inform the
                rental agent in advance.
            </li>
            <li>
                You must return your rental car with the same level of fuel you
                picked it up with. If the level of fuel is lower, you pay the
                difference at the rates of car rental company. If the level of
                fuel is higher, you are not compensated for the difference.
            </li>
            <li>
                If the car is returned so dirty that it hinders its inspection,
                the car will be washed at the customer's expense.
            </li>
            <li>
                Standard insurance does not cover damages to wheels,
                undercarriage, windscreen, and interior of the car.
            </li>
            <li>
                In case of an insured event, you must immediately notify the
                rental agent and receive an infringement notice, except as
                otherwise agreed with the agent. Failure to fulfil these
                conditions will cancel the insurance issued for the car and make
                you fully responsible.
            </li>
            <li>
                The insurance is invalid in the event of deliberate damage to
                the car caused by intentional vandalism or neglect.
            </li>
            <li>
                Rental cars are allowed to travel only on paved public roads.
            </li>
            <li>
                Driving a rental car across the country borders is not allowed.
            </li>
            <li>
                The contact phone number with the correct country code provided
                at the time of booking must be available throughout the car
                rental period and on the day before pick-up. We do not accept
                any service quality claims, if it was impossible to contact the
                renter by mobile phone or messengers (Viber / WhatsApp /
                Telegram).
            </li>
            <li>
                The payment for fuel, parking, fines, and toll roads is the
                responsibility of the renter.
            </li>
            <li>
                The driver’s minimum age and driving experience are listed on
                each car’s page. These requirements may vary even for similar
                models. The rental agent has the right to refuse to provide the
                service at any time if the driver’s age and/or driving
                experience does not meet the requirements for a particular car.
                Please use the filters to find cars that match your criteria.
            </li>
            <li>
                Make sure you have an International Driving Permit (IDP) that
                explicitly states “1968 Vienna Convention” on the document,
                together with your valid national driving licence. All documents
                must be valid and unexpired. Copies or electronic versions of
                driving licences are not accepted.
            </li>
            <li>
                Should a credit card be required to secure the deposit, it must
                be a physical card bearing the name of the primary driver,
                featuring embossed details and issued in their name.
            </li>
            <li>
                Only small pets may travel in rented cars and should be kept in
                their travel carriers at all times.
            </li>
        </ol>
        <h1 class="main_title">
            Rules for using online car booking system on Localrent
        </h1>
        <ol>
            <li>
                Renot Software OU, a company with legal address at Kadaka tee
                137-65, Tallinn, Estonia, registration number 12352497, offers
                any individual (except individuals under 18 years of age and
                citizens of countries where the Company does not provide
                services in accordance with its internal policies) to enter into
                the Customer Agreement by accepting the terms and conditions of
                this public offer. We will help you find the best car rental
                offers and book the car of your choice.
            </li>
            <li>
                During booking, you pay only an advance payment of 15-20% of the
                total rental cost. You will pay the remaining amount to the
                rental agent when you pick up your car.
            </li>
            <li>
                <strong>Cancellation or modification of booking </strong>
                <ol>
                    <li>
                        To cancel your reservation, you must send us an email to
                        <a
                            href="mailto:nguyen12112005@gmail.com"
                            target="_blank"
                            >nguyen12112005@gmail.com</a
                        >
                        with the title "Cancel" and include the car booking
                        confirmation (voucher) you received when you booked your
                        car. Refund will be issued to the same account from
                        which we received the payment unless otherwise agreed.
                        The advance payment will be returned within 14 days
                        after we receive your refund request.
                    </li>
                    <li>
                        Booking cancellation does not involve commissions,
                        except the payment service fee (6% of the amount paid).
                    </li>
                    <li>
                        You can cancel your booking without penalty no later
                        than 7 days (30 days for luxury cars and convertibles)
                        before the start of rental period. Or 24 hours in
                        advance for all categories if the booking includes the
                        “Free cancellation” option. If you cancel or modify your
                        booking at a later date, the advance will be fully
                        retained as compensation for the unfulfilled order.
                    </li>
                    <li>
                        The booking can be cancelled by the customer or rental
                        company within the first 24 hours after confirmation of
                        the booking and payment of the advance. In this case,
                        the advance payment will be returned to the customer in
                        accordance with paragraph 3.2. The party cancelling the
                        booking must give advance notice to the other party
                        and/or Localrent representatives before picking up the
                        car.
                    </li>
                    <li>
                        You can modify your booking by cancelling the old
                        reservation and creating a new one on general terms.
                        Please note that the car you previously booked becomes
                        available to other customers after you cancel your
                        booking.
                    </li>
                </ol>
            </li>
            <li>
                The Localrent online car booking system, operating on a
                partnership basis, provides information about car rentals
                offered by rental companies. All inquiries related to the
                condition of the cars, quality, and compliance of services
                should be directed to the managers of the rental companies. The
                contact details of the rental company are provided in the email
                sent to the renter after the booking is completed.
            </li>
            <li>
                If the car rental company can not provide the booked car due to
                a breakdown or other force-majeure circumstances, it must
                provide a car of the same or higher class on the same terms and
                at the same price. In this case, the service is considered to be
                provided in full.
            </li>
            <li>
                BY PLACING YOUR ORDER ON LOCALRENT, YOU CONFIRM THAT YOU ACCEPT
                THESE TERMS AND CONDITIONS OF BOOKING, OFFER TO EXECUTE CAR
                RENTAL AGREEMENT AND AGREE TO ABIDE BY THEM.
            </li>
        </ol>
        <div class="btn_term_container">
            <button class="btn_term" id="btn_term">Got it</button>
        </div>
    </div>
</div>
