/*----------k co xe --------*/
.no-vehicle {
    text-align: center;
    padding: 50px 20px;
}

.no-vehicle i {
    font-size: 60px;
    color: #ddd;
}

.no-vehicle h3 {
    margin: 20px 0;
    color: #666;
}

.btn-add-vehicle {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-add-vehicle:hover {
    background: #0056b3;
}

/* ----- co xe ----*/
.vehicle-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.vehicle-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: white;
}

/*---IMG--- */
.image-section {
    position: relative;
    height: 200px;
    background: #f5f5f5;
}

.vehicle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.vehicle-image.active {
    display: block;
}

.btn-prev,
.btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0.4;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.btn-prev {
    left: 10px;
}

.btn-next {
    right: 10px;
}

.btn-prev:hover,
.btn-next:hover {
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
    color: rgb(32, 31, 30);
}

/* SL img */
.image-counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0.7;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

/* -----Vehicle info-------*/
.vehicle-info {
    padding: 15px;
}

.vehicle-info h4 { 
    font-size: 22px;
}

.vehicle-info p {
    margin: 10px 0;
    line-height: 1.6;
    color: #666;
}

.vehicle-info small {
    color: #999;
}

/* BTN*/
.button-group {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.btn {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.btn-edit {
    background: #ffc107;
    color: black;
}

.btn-delete {
    background: #f03043;
    color: white;
}

.btn-edit:hover {
    background: #201f1d;
    color: #ccc;
    transform: translateX(-5px);
}

.btn-delete:hover {
    background: #690713;
    color: burlywood;
    transform: translateX(5px);
}
/* ----------------------FAVORITE */

/* nut tim ben favorite */
.btn_tim {
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin-top: 12px;
}

.heart-btn {
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 30%;
    padding: 8px 10px;
}

.heart-btn:hover {
    background: #f13232;
}

.heart-icon {
    font-size: 22px;
    cursor: pointer;
}
